.auth-card {
  width: 380px;
  padding: 30px;
  background: rgba(255,255,255,0.12);
  border-radius: 12px;
  backdrop-filter: blur(10px);
  text-align: center;
}

.auth-card h2 {
  margin-bottom: 15px;
}

.auth-card input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 6px;
  border: none;
  outline: none;
}

.auth-card button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: #00c9ff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 17px;
  transition: 0.2s;
}

.auth-card button:hover {
  background: #00a4cc;
}

.switch-text {
  margin-top: 15px;
  font-size: 14px;
}

.switch-text a {
  color: #00c9ff;
  text-decoration: none;
  font-weight: bold;
}

.message {
  margin-top: 10px;
  font-size: 14px;
  color: #ffeb3b;
}
